<!doctype html>
<html>
<head>
	<title>Fitwise Edit</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="row">

		
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Edit <%= user.username %>'s Personal Info </h3>

					<form action="/editprofile" method="post">
		<div class="form-group">
			<label>First Name</label>
			<input type="text" class="form-control" name="fName" value=<%= user.fName%>>
		</div>
		<div class="form-group">
			<label>Last Name</label>
			<input type="text" class="form-control" name="lName" value=<%= user.lName%>>
		</div>
		<div class="form-group">
			<label>Weight</label>
			<input type="text" class="form-control" name="weight" value=<%= user.weight%>>
		</div>
		<div class="form-group">
		<label>Gender</label> <br>
		<input type="radio" name="gender" value="M" value=""> Male<br>
  		<input type="radio" name="gender" value="F" value=""> Female<br>
  		<input type="radio" name="gender" value="O" value=""> Other
  		</div>

		<button type="submit" class="btn btn-default btn-sm">Save</button>
		<a href="/profile" class="btn btn-default btn-sm">Cancel</a>
	</form>
			</div>
		</div>

	</div>

</div>
</body>
</html>